
@{
    Layout = "~/Areas/AdGetOn/Views/Shared/Layout.cshtml";
}

@using FinalProjectMain.Models.Entity
@model IEnumerable<Product>

<div class="container" style="margin-top:100px">
    <div class="row" id="newSharedAdmin">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-sm-12 col-xl-4 col-lg-4">
                <div class="card" style="height:600px">
                    <figure class="imghvr-shutter-in-out-diag-2">
                        <img class="card-img-top" width="100%" src="~/Template/img/newImg/@item.imgPath"
                             alt="Card image cap">
                        @if (item.isSold == true)
                        {
                            <span class="badge badge-danger" style="    position: absolute !important;right: 25px !important;top: 20px !important;border-radius:0% !important;">
                                Satılıb!
                            </span>
                        }
                        @if (item.isSold == false)
                        {
                            <span class="badge badge-success" style="    position: absolute !important;right: 25px !important;top: 20px !important;border-radius:0% !important;">
                                Satılmayıb!
                            </span>
                        }
                        <figcaption style="word-break: break-all;">
                            @item.About
                        </figcaption>
                    </figure>
                    <div class="card-body text-center">
                        <a href="./itemPage.html"><span>Adı: @item.Name</span></a>
                        <h6>Qiymət: @item.Price AZN</h6>
                        <p>Hakqında: @item.About</p>
                        <p>Paylaşılıb: @item.isConfirm</p>
                        <p>Istehsal: @item.Producer.ProducerName</p>
                        <p>Sayı və ölçüsü: @item.SizeORCount</p>
                    </div>
                    <div class="card-footer">
                        <div class="icon-part d-flex justify-content-around text-center col-xs-12">
                            <p>Paylaşdı :</p>
                        </div>
                        <div class="col-xs-12 mt-1 mb-1 d-flex justify-content-around">
                            <button id="deleteButtomInSharedPage" onclick="deleteButtomInSharedPage(@item.Id)" class="btn btn-sm btn-danger">Sil</button>
                            <form action="@Url.Action("LookAtAllİmages","AdGetOn")" method="get">
                                <input id="hiddenID" name="id" type="hidden" value="@item.Id" />
                                <button id="lookAtImages" type="submit" class="btn btn-sm btn-warning">Şəkillər</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<section class="modalSection">
    <div class="modal" id="editItemInSharedPage" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input id="hiddenIDinModal" type="hidden" value="" />
                    <h5 class="modal-title">Redakte Et</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mt-3 mb-3">
                    <form class="editModalForm">
                        <input type="text" id="nameItemInWaitList" value="" class="form-control" placeholder="Adı" />
                        <br />
                        <textarea id="aboutItemInWaitList" value="" class="form-control" placeholder="HaqqInda"></textarea>
                        <br />
                        <input type="text" id="priceItemInWaitList" value="" class="form-control" placeholder="Price" />
                        <br />
                        <br />
                        @*<input type="file" name="imgFile" class="form-control-file" id="imgFileId" src="" alt="" />*@
                        <div class="form-group">
                            Şəkil
                            <label class="form-control image-container">
                                <img src="" id="news-image" class="w-100 h-100" />
                                <i class="empty-icon"></i>
                                <a href="javascript:removePhoto()"><i class="clear-icon header-right-button"></i></a>
                                <input class="form-control" type="file" style="display:none" accept="image/*" onchange="readURL(this)" id="mediaUrl" />
                            </label>
                        </div>
                        <br />
                        <select class="form-control" name="CategoryValInModal" id="ColorValInModal">
                            @Html.Action("CategorySelectInCreateItem", "Admin", new { areas = "admin" })
                        </select>
                        <br />
                        <select class="form-control" name="ColorValInModal" id="ColorValInModal">
                            @Html.Action("ColorInCreateItem", "Admin", new { areas = "admin" })
                        </select>
                        <br />
                        <select class="form-control" name="ProducerValInModal" id="ProducerValInModal">
                            @Html.Action("ProducerInCreateItem", "Admin", new { areas = "admin" })
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                    <button type="button" id="submitEditNewProducerButton" onclick="ConfirmeditButtomInWaitlistModal($('#hiddenIDinModal').val())" class="btn btn-primary">Redakte Et</button>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{

    <script>
            // delete new ITEM IN WAITLIST
    function deleteButtomInSharedPage(Id) {
        console.log(Id)
        $.ajax({

            url: "@Url.Action("deleteItemFromSharedItem","AdGetOn")",
            type: "POST",
            data: { id: Id },
            success: function (response) {
                $("#newSharedAdmin").html(response)
            },
            error: function (response) {
                console.error(response)
            }
        })
    }
    // delete new ITEM IN WAITLIST


    </script>

}

