@using FinalProjectMain.Models.Entity
@model IEnumerable<User>

@{ 
        var count = 0;
}

@foreach (var item in Model)
{

    <br />
    count++;
    <h5>@count</h5>
    <div class="row p-4">
        <form id="editEmployeForm" action="@Url.Action("","AdGetOn")" method="post">
            <input type="hidden" value="@item.Id" />
            <div class="form-group">
                <label for="">Kod</label>
                <input type="text" name="Id" value="@item.Id" disabled class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                <label for="">Ad</label>
                <input type="text" name="Name" value="@item.UserName" disabled class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                <label for="">Soyad</label>
                <input type="text" name="Surname" value="@item.UserSurname" disabled class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="Email" value="@item.Email" disabled class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                <label for="">Yaş</label>
                <input type="text" name="Phone" value="@item.UserAge" disabled class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="btn-group-sm" role="group" aria-label="Basic example">

                @if (item.isBlock == false)
                {
                    <button type="button" onclick="ignoreuser(@item.Id)" class="btn btn-danger btn-sm">Blok Et</button>
                }
                else
                {
                    <button type="button" onclick="notignoreuser(@item.Id)" class="btn btn-danger btn-sm">Blokdan Çıxar</button>
                }
            </div>
        </form>
    </div>

}
<div class="row mt-3">
    <a class="btn btn-success btn-dark rounded-0" href="@Url.Action("Index","AdGetOn")">Əsas Səhifə</a>
</div>
