@{
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
    var db = new FinalProjectMain.Models.ShoppingDbContext();
}

<div id="mainDivInDeletePage">


    <div class="container" style="margin-top:100px">
        <h3> Kateqoriyalar</h3>

        <div class="row">
            @foreach (var item in db.categories.Where(w=>w.DeletedDate==null).ToList())
            {
                <div class="col-md-4 col-xs-4 col-lg-4 col-xl-4 mt-2">
                    <span>
                        @item.Id.  @item.CategoryName
                    </span>
                </div>
                <div class="col-md-2 col-xs-12 col-lg-2 col-xl-2">
                    <button class="btn btn-sm btn-danger" onclick="deleteCategories(@item.Id)">
                        Sil
                    </button>
                </div>
            }
        </div>
    </div><div class="container" style="margin-top:50px">
        <h3>Multi- Katqoriyalar</h3>

        <div class="row">
            @foreach (var item in db.SubCategories.Where(w => w.DeletedDate == null).ToList())
            {
                <div class="col-md-4 col-xs-4 col-lg-4 col-xl-4 mt-2">
                    <span>
                        @item.Id.  @item.SubCategoryName (Kategoriya Nömrəsi: @item.CategoryId)
                    </span>
                </div>
                <div class="col-md-2 col-xs-12 col-lg-2 col-xl-2">
                    <button class="btn btn-sm btn-danger" onclick="deleteSubCategories(@item.Id)">
                        Sil
                    </button>
                </div>
            }
        </div>
    </div>
    <div class="container" style="margin-top:50px">
        <h3> Rənglər</h3>

        <div class="row">
            @foreach (var item in db.Color.Where(w => w.DeletedDate == null).ToList())
            {
                <div class="col-md-4 col-xs-4 col-lg-4 col-xl-4 mt-2">
                    <span>
                        @item.Id.  @item.ColorName
                    </span>
                </div>
                <div class="col-md-2 col-xs-12 col-lg-2 col-xl-2">
                    <button class="btn btn-sm btn-danger" onclick="deleteColor(@item.Id)">
                        Sil
                    </button>
                </div>
            }
        </div>
    </div>
    <div class="container" style="margin-top:50px">
        <h3> Şirkətlər</h3>

        <div class="row">
            @foreach (var item in db.producers.Where(w => w.DeletedDate == null).ToList())
            {
                <div class="col-md-4 col-xs-4 col-lg-4 col-xl-4 mt-2">
                    <span>
                        @item.Id.  @item.ProducerName
                    </span>
                </div>
                <div class="col-md-2 col-xs-12 col-lg-2 col-xl-2">
                    <button class="btn btn-sm btn-danger" onclick="deleteCompany(@item.Id)">
                        Sil
                    </button>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    
    <script>
    function deleteCategories(Id) {

        $.ajax({

            url: "@Url.Action("deleteCategory","CategoryColorCompany")",
            type: "POST",
            data: { id: Id },
            success: function (response) {
                $("#mainDivInDeletePage").html(response)
                alert("Kategoriya Silindi")
            },
            error: function (response) {
                console.error(response)
            }
        })
}

     function deleteSubCategories(Id) {

        $.ajax({

            url: "@Url.Action("deleteSubCategory","CategoryColorCompany")",
            type: "POST",
            data: { id: Id },
            success: function (response) {
                $("#mainDivInDeletePage").html(response)
                alert("Multi - Kategoriya Silindi")
            },
            error: function (response) {
                console.error(response)
            }
        })
}

         function deleteColor(Id) {

        $.ajax({

            url: "@Url.Action("deleteColor","CategoryColorCompany")",
            type: "POST",
            data: { id: Id },
            success: function (response) {
                $("#mainDivInDeletePage").html(response)
                alert("Rəng Silindi")
            },
            error: function (response) {
                console.error(response)
            }
        })
    }

         function deleteCompany(Id) {

        $.ajax({

            url: "@Url.Action("deleteCompany","CategoryColorCompany")",
            type: "POST",
            data: { id: Id },
            success: function (response) {
                $("#mainDivInDeletePage").html(response)
                alert("Şirkət Silindi")
            },
            error: function (response) {
                console.error(response)
            }
        })
}
    </script>

    }