@model IEnumerable<FinalProjectMain.Models.Entity.Manager>
@{

    var count = 0;
}

@foreach (var item in Model)
{
    <br />
    count++;
    <h5>@count</h5>
    <div class="row  p-4">
        <form>
            <input type="hidden" value="@item.Id" />
            <div class="form-group">
                <label for="">Kod</label>
                <input type="text" name="Id" readonly value="@item.Id" class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                <label for="">Ad</label>
                <input type="text" name="Name" readonly value="@item.Name" class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                <label for="">Soyad</label>
                <input type="text" name="Surname" readonly value="@item.Surname" class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="Email" readonly value="@item.Email" class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                <label for="">Şifrə</label>
                <input type="password" name="Password" readonly value="@item.Password" class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                <label for="">Nömrə</label>
                <input type="text" name="Phone" readonly value="@item.Phone" class="form-control-sm border border-muted rounded-0" />
            </div>
            <div class="form-group">
                @*<label for="">Vəzifə : @item.ManagerStatus.StatusName</label>*@
                @*<input type="text" value="@item.ManagerStatus.StatusName" />*@
                @*<select class="form-control-sm border border-muted rounded-0" readonly name="ManagerStatusId" id="statusVal">
                        @Html.Action("statusInCreateAdmin", "Admin");
                    </select>*@
            </div>
            <div class="btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" onclick="editEmployee(@item.Id)" class="btn btn-warning btn-sm">Redakte Et</button>
                <button type="button" onclick="deleteEmployee(@item.Id)" class="btn btn-danger btn-sm">Sil</button>
            </div>
        </form>
    </div>

}
<div class="row mt-3">
    <a class="btn btn-success btn-dark rounded-0" href="@Url.Action("addAdminPage","Admin")">Admin vəya Super Admin Əlavə Et</a>
</div>

