@model IEnumerable <FinalProjectMain.Models.Entity.Compare>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section css
    {
    <link rel="stylesheet" href="~/Template/css/comparePart.css" />
}

<section class="compare-part mt-5">
    <div class="container border border-muted mainContainer">
        <p class="PRODUCT-COMPARISON p-2">MÜQAYİSƏ</p>
        <div class="row justify-content-center beforeForComparedCard">
            <div class="border border-muted row forComparedCard">
                <div class="card-group" id="compareCards">
                        @foreach (var item in Model)
                        {
                            <div class="card text-center col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <a onclick="deleteCompare(@item.Id)" style="cursor:pointer; right:0% !important" class="text-decoration-none text-danger font-weight-bold position-absolute">X</a>
                                <div class="img-top">
                                    <img class="card-img-top w-100" src="~/Template/img/newImg/@item.Product.imgPath" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <p class="card-title">@item.Product.Name<p>
                                    <p class="compared-Item-price">@item.Product.Price AZN</p>
                                    <p class="card-text">
                                        @item.Product.About
                                    </p>
                                    <div class="card-f">
                                        <a href="" class="shop text-dark">
                                            <i class="fa fa-shopping-basket"></i>
                                        </a>
                                            <a class="text-dark" onclick="clickWishlistt(@item.Product.Id)"><i class="fas fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                </div>
            </div>
        </div>
        <a href="./index.html" class="btn btn-lg btn-dark mb-3 ml-3">
            <i class="fas fa-chevron-left"
               aria-hidden="true"></i> &nbsp; Alış-Verişə Davam Edin
        </a>
    </div>
</section>

<section class="carouselForCompany mt-5">
    <div class="container  mt-5">
        <div class="row">
            <div class="owl-carousel">
                <div><img src="~/Template/img/Companies/1.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/2.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/3.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/4.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/5.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/1.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/3.jpg" alt=""></div>
                <div><img src="~/Template/img/Companies/5.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script src="~/Template/js/compare-js.js"></script>
    <script>

    function deleteCompare(Id) {

        $.ajax({

            url: "@Url.Action("deleteCompare","additionalActions")",
            type: "POST",
            data: { id: Id },
            success: function (response) {
            $("#compareCards").html(response)
            swal({
                  text: "Məhsul müqayisə listindən silindi!",
                  icon: "success",
                  button: "Bağla!",
            });
            },
            error: function (response) {
                console.error(response)
            }
        })

    }

        function clickWishlistt(Id) {

            $.ajax({
                url: "@Url.Action("addToMyWishListt","Home")",
                type: "POST",
                data: { id: Id },
                success: function (response) {
                    if (response == "nosession")
                    {
                    swal({
                         title: "Daxil Olun!",
                         icon: "warning",
                         button: "Daxil Ol!",
                    }).then(function() {
                          window.location.href = "/Home/logIn";
                                 });
                    }
                    else if (response == "existsProduct")
                    {
                     swal({
                         text: "Bu məhsul istək listində mövcuddur!",
                         icon: "warning",
                         button: "Bağla!",
                     });
                    }
                    else
                    {
                  swal({
                    text: "Istək Siyahısına Elavə olundu!",
                    icon: "success",
                    button: "Bağla!",
                  });
                    }

                },
                error: function (response) {
                    console.error(response)
                }
            })
            }
    </script>
}
