
@model IEnumerable<FinalProjectMain.Models.Entity.shopList>
@{
    Layout = null;
}

<div class="shopping-icon d-flex" id="dropdownMenuButton" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-shopping-bag iconI"></i>
    @if (ViewBag.itemCount != null)
    {
        <span class="countForShopping">@ViewBag.itemCount</span>

    }
    @if (Session[SessionKey.User] != null)
    {
        <div class="dropdown-menu  rounded-0">
            <div class="container-fluid" id="intoShopIconId">

                @foreach (var item in Model)
                {
                    <div class="row mt-2">
                        <div class="col-lg-12 dropdown-into-icon d-flex justify-content-between">
                            <div class="col-md-3 col-xs-3 col-xl-3 col-lg-3">
                                <img src="~/Template/img/newImg/@item.Product.imgPath" class="w-100" alt="" />
                            </div>
                            <div class="col-md-6 col-xs-6 col-xl-6 col-lg-6 info">
                                <a href="#" class="text-decoration-none text-dark font-weight-bold">@item.Product.Name</a>
                                <p style="    word-break: break-word;">@item.Product.About</p>
                            </div>
                            <div class="col-md-2 col-xs-2 col-xl-2 col-lg-2 info">
                                <a href="#" onclick="deleteFromShopNavIcon(@item.Id)" class="text-decoration-none text-danger" style=" width: 100%;
                                       height: 100%;
                                       display: flex;
                                       align-items: center !important;
                                       justify-content: center !important;">
                                    <i class="fas fa-trash w-100"
                                       style="font-size:20px; text-shadow: 0 0 6px red !important;
                                        color: white !important; display: flex;
                                        justify-content: center;"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                }
                <div class="row text-center">
                    <div class="col-lg-12 col-xl-12">
                        <a class="text-decoration-none text-primary" href="@Url.Action("viewCard","additionalActions")">Ətraflı</a>

                    </div>
                </div>
            </div>

        </div>
    }
</div>